.git
.github
.pytest_cache
__pycache__
*.pyc

docs
Templates
.obsidian
.obsidian.mobile
mkdocs.yml
_site

Python-*
.venv
venv
env
build
dist
*.egg-info

.env
.env.*
cronpot.toml
secrets
kubeconfig*
*.kubeconfig
